<form class="form-horizontal" id="register">
                    <fieldset>
                        <legend>Reach Us</legend>
                        <div class="form-group">
                            <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" id="inputFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" id="inputLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                <span class="help-block">Ex : <b>john@gmail.com</b></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-4">
                                <textarea class="form-control" rows="3" id="textArea" placeholder="Tell me your issue"></textarea>
                                <span class="help-block">Please use this box for your query.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 col-lg-offset-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>